version: '3.8'

services:
  app:
    build: .
    container_name: ecom-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules 
      - ./files:/usr/src/app/files
    depends_on:
      - mongo
    command: npm run dev

  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
  
volumes:
  mongo_data:
